<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.connectionId = '<%= connectionId %>';
      window.connectAccessToken = '<%= connectAccessToken %>';
    </script>

    <script type="text/javascript" src="./callback.js"></script>
  </head>
  <body>
    <h1>Credit Kudos Connect API Demo</h1>

    <h3>Polling for Connection Status</h3>
  </body>
</html>
