<!DOCTYPE html>
  <html>
    <script type="text/javascript">
      window.connectAccessToken = '<%= connectAccessToken %>';
    </script>

    <script type="text/javascript" src="./index.js"></script>
  </head>

  <body>
    <h1>Credit Kudos Connect API Demo</h1>

    <h3>Successfully Authenticated!</h3>

    <h4>Providers:</h4>
  </body>
</html>
