<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Credit Kudos - Widget Demo</title>
    <script src="https://code.creditkudos-staging.com/creditkudos-connect-v2.0.0.js"></script>

    <script type="text/javascript">
      CK.connect({
        client_id: "ca4cd1bbad6575884c65373f382365c4b91f01a630f5f8cd64dee0e1f8c09174",
        redirect_uri: 'https://17b2a94a.ngrok.io/callback',
        selector: "#container",
      })
      .then(() => console.log('success!'))
      .catch(error => console.log(error));
    </script>
  </head>
  <body>
    <h1>Credit Kudos Connect Demo</h1>
    <div id="container"></div>
  </body>
</html>
