<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.accessToken = '<%= accessToken %>';
    </script>

    <link rel="stylesheet" type="text/css" href="./complete.css">
    <script type="text/javascript" src="./complete.js"></script>
  </head>
  <body>
    <h1>Complete!</h1>

    <div id='userinfo'>
      <h2>UserInfo</h2>
      <h5>Fetching...</h5>
    </div>

    <div id='report'>
      <h2>Report</h2>
      <h5>Fetching...waiting for Report to complete</h5>
    </div>

    <div id='accounts'>
      <h2>Accounts</h2>
      <h5>Fetching...waiting for Report to complete</h5>
    </div>

    <div id='transactions'>
      <h2>Transactions (page 1 only)</h2>
      <h5>Fetching...waiting for Report to complete</h5>
    </div>
  </body>
</html>
